@import "../../styles/global.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

:host{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container-resto {
	height: 15%;
	background-color: $beige;
}


mat-drawer{
  width: 300px;
	border-right: 1px solid $purple;
}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
	background-color: $beige;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}