@import "../../../styles/global.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.navbar {
	padding:0;
	display:flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	width:100%;
	overflow: hidden;
	background: transparent;

	&__logo{
		width:90px;
		cursor: pointer;
	}

	&__menu {
		display:flex;
		align-items: center;
		justify-content: space-between;
		max-height: 0;
		transition: max-height .5s ease-out;

		.menu-container {
			list-style-type: none;
			padding:0;
			margin:0;

			.menu-item {
				margin-left:25px;
				float:left;
			}
		}

		&__text {

			@include media(extraSmallToSemiMedium) {
				display: none;
			}
		}

		&__hamburger {
			margin-left:30px;
			padding-top: 5px;
			display: none;

			@include media(extraSmallToSemiMedium) {
				display: block;
			}

			.--mobile__hamburger-menu{
				display:none;
			}

			.side-menu {
				opacity:0;

				@include media(extraSmallToSemiMedium) {
					&:checked {
						~ .--mobile__hamburger-menu {
							display: block;
							background: $beige;
							position: fixed;
							width: 100%;
							height:100%;
							left: 0;
							margin-top: 24px;

							.menu-container{
								display:inline-block;
								margin-left:18px;
							}
						}
					}
				}
			}
			.mat-icon {
				color:$purple;
			}
		}
	}
}

.menu-item__mobile {
	list-style-type: none;
	padding:10px;
	background: #fff;
	margin-bottom: 10px;
	color:$purple;
}

.text-style {
	text-decoration: none;
	text-decoration-color: none;
	color:$purple;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 500;
	&:hover {
		color:$pink;
	}
}

