<div class="cart">
    <div class="example-container">
			<div class="buy-wrapper">
        <mat-icon matBadge="{{cart.sumQty}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
				<span class="buy__price">{{cart.sumPrice}} Ar</span>
			</div>
      <div class="boundary">
        <div
          cdkDropList
          [cdkDropListData]="listDishes"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          cdkDragBoundary=".boundary"
          >
          <div class="example-box" *ngFor="let cartItem of cart.itemDish" cdkDrag>
            <div>
              <strong class="box__dish">
                <mat-icon>delete_outline</mat-icon>
                <div class="box__title__price">
                  <span>{{cartItem.item.name}}</span>
                  <span class="box__price">{{cartItem.item.price}} Ar</span>
                </div>
              </strong>
              </div>
            <div>
              <img style="border-radius: 50%;" src="https://picsum.photos/id/984/900/500" width="25" height="25" />
            </div>
            <div class="box__qty">
              <a (click) = "minusQty(cartItem.item)">
                <span class="box">-</span>
              </a>
              <span class="box">{{cartItem.qty}}</span>
              <a (click) = "plusQty(cartItem.item)">
                <span class="box">+</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="buy__btn">
        <button mat-raised-button color="primary">Acheter</button>
      </div>
    </div>
</div>
