@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.login {
	display: flex;
	width:100%;
	height: 100%;
	&__background {
		width:65%;
		background-color: $beige;

		img {
			width:100%;
			height:100%;
			object-fit: cover;
			border-radius: 3px;
		}
	}

	&__content {
		width: 250px;
    height: 0;
    top: 28%;
    right: 50%;
    left: 50%;
    background-color: #fff5ed;
    position: absolute;
    opacity: 0.97;
		border-radius: 3px;
		overflow: hidden;
		-moz-animation: slide 0.3s ease 0.1s forwards;
		-webkit-animation: slide 0.3s ease 0.1s forwards;
		-o-animation: slide 0.3s ease 0.1s forwards;
		-ms-animation: slide 0.3s ease 0.1s forwards;
		animation: slide 0.3s ease 0.1s forwards;

		@-moz-keyframes slide /* Firefox */
		{
		from {height: 0;}
		to {height: 46%;}
		}

		@-webkit-keyframes slide /* Safari and Chrome */
		{
		from {height: 0;}
		to {height: 46%;}
		}


		@-ms-keyframes slide /* IE10 */
		{
		from {height: 0;}
		to {height: 46%;}
		}

		@keyframes slide
		{
		from {height: 0;}
		to {height: 46%;}
		}


		&__align-center {
			padding:20px 0 0 30px;
		}

		&__btn {
			text-align: end;
			margin-right:40px;
		}
	}
}