<div class="wrapper-content">
	<form [formGroup]="form">
		<mat-card class="card-operator">
			<div class="card-operator__row">
				<div class="card-operator__form">
					<mat-card-title>Ferran</mat-card-title>
					<mat-card-subtitle>Torres</mat-card-subtitle>
					<mat-card-content>
						<p>
							<mat-form-field class="titre">
								<input type="text" matInput placeholder="numéro telephone ex: 034... " formControlName="numberPhone">
							</mat-form-field>
						</p>
						<p>
							<mat-form-field class="titre">
								<input type="password" matInput placeholder="Votre code secret" formControlName="codeSecret">
							</mat-form-field>
						</p>
					</mat-card-content>
					<mat-card-actions>
						<div>
							<button mat-button color="warn" (click)="cancel()">Annuler</button>
							<button mat-button color="primary" (click)="submit()">Valider</button>
						</div>
					</mat-card-actions>
				</div>
				<!--<div class="card-operator__partnership">
					<div class="telma-operator">
						
					</div>
				</div>-->
			</div>
		</mat-card>	
	</form>
</div>
