<div class="header">
	<div class="header__welcome">
		<h6>Tongasoa eto amin'ny</h6>
		<div class="header__welcome__title">
			<h1 class="title-text">'Ndao e-kaly!</h1>
		</div>
		<div class="header__welcome__Delivery">
			<form [formGroup]="stateForm">
				<mat-form-field class="--input-fullWidth" appearance="fill">
					<mat-label>Lieu de la livraison</mat-label>
					<input type="text"
								 matInput
								 formControlName="stateGroup"
								 required
								 [matAutocomplete]="autoGroup">
						<mat-autocomplete #autoGroup="matAutocomplete">
							<mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
								<mat-option *ngFor="let name of group.names" [value]="name">
									{{name}}
								</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>
				<a [routerLink]="['/resto']">
					<button class="btn-color" mat-raised-button> Continuer</button>
				</a>
			</form>			
		</div>
	</div>
	<div class="header__delivery-man"></div>
	<div class="header__food"></div>
</div>
