
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body all-icons">
          <mat-tab-group backgroundColor="primary" dynamicHeight>
            <mat-tab  class="label-title" label="Tous">
              
            </mat-tab>
            <mat-tab class="label-title" label="Enregistrement">
              <div class="content-save">
                <form>
                  <div class=" row">
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Username </label>
                        <input
                          class=" form-control"
                          placeholder="Username"
                          type="text"
                          value="michael23"
                        />
                      </div>
                    </div>
                    <div class=" col-md-6 pl-md-1">
                      <div class=" form-group">
                        <label for="exampleInputEmail1"> Email address </label>
                        <input
                          class=" form-control"
                          placeholder="mike@email.com"
                          type="email"
                        />
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-6 pr-md-1">
                      <div class=" form-group">
                        <label> First Name </label>
                        <input
                          class=" form-control"
                          placeholder="Company"
                          type="text"
                          value="Mike"
                        />
                      </div>
                    </div>
                    <div class=" col-md-6 pl-md-1">
                      <div class=" form-group">
                        <label> Last Name </label>
                        <input
                          class=" form-control"
                          placeholder="Last Name"
                          type="text"
                          value="Andrew"
                        />
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4 pr-md-1">
                      <div class=" form-group">
                        <label> Date de naissance </label>
                        <input
                          class=" form-control"
                          type="date"
                        />
                      </div>
                    </div>
                    <div class="col-md-8 pr-md-1">
                      <div style="margin-top:10px;" class="form-group">
                        <label>
                          <p>
                            Sexe
                          </p>
                          <mat-radio-group aria-label="Select an option">
                            <mat-radio-button style="margin-right:16px;" value="1">Homme</mat-radio-button>
                            <mat-radio-button value="2">Femme</mat-radio-button>
                          </mat-radio-group>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class=" row">
                    <div class=" col-md-4 pr-md-1">
                      <div style="margin-top:8px;" class=" form-group">
                        <label>
                          <p>
                            Permis
                          </p>
                          <section class="example-section">
                            <mat-checkbox style="margin-right:16px;" class="example-margin">A</mat-checkbox>
                            <mat-checkbox class="example-margin">B</mat-checkbox>
                          </section>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button class=" btn btn-fill btn-danger" type="submit">Enregistrer</button>
                  </div>
                </form>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
