<div class="type">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip (click) = "searchByType()">Tous</mat-chip>
    <mat-chip *ngFor="let typeResto of typeRestoList" [color] = "colorChip" (click) = "searchByType(typeResto)">{{typeResto.name}}</mat-chip>
    <!--<mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>-->
  </mat-chip-list>
  <div>
    {{locationName}}
  </div>
  <div>
    <span>
      se connecter
    </span>
    <span>
      s'inscrire
    </span>
  </div>
</div>

