@import "../../../../styles/global.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.container-food {
	display: block;
	position:absolute;
	top:0;
	left:10%;
	width:300px;
	height:60%;
	background-color: $pink;
}

.food {
	display: flex;
	justify-content: center;
}

.container-food__desc {
	width:400px;
	height:250px;
	background-color: black;
}