<div class="map-container">
	<div class="map-search">
		<form [formGroup]="form" class="--full-width"  (ngSubmit)="deliver()">
			<mat-form-field appearance="fill">
				<mat-label>détails de votre emplacement</mat-label>
				<textarea matInput></textarea>
			</mat-form-field>
			<div>
				<button style="width: 100%; margin:0;" color="warn" type="submit" mat-raised-button> Livrer</button>
			</div>
		</form>	
		<form [formGroup]="stateForm" class="deliveryLoc" (ngSubmit)="search()">
			<mat-form-field class="--input-fullWidth" appearance="fill">
				<mat-label>Lieu de la livraison</mat-label>
				<input type="text"
							 matInput
							 formControlName="stateGroup"
							 required
							 [matAutocomplete]="autoGroup">
					<mat-autocomplete #autoGroup="matAutocomplete">
						<mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
							<mat-option *ngFor="let name of group.names" [value]="name">
								{{name}}
							</mat-option>
					</mat-optgroup>
				</mat-autocomplete>
			</mat-form-field>
			<button class="btn-color" type="submit" mat-raised-button> rechercher</button>
		</form>	
	</div>
	<div class="map-content">
		<div id="map" class="map"></div>
	</div>
</div>
